<div class="container">
  <div class="section">
   <p> BI Dashboard </p>
  </div>



         <div class="step-pane"  style="margin-bottom: -30px;">
                 <div class="center">
<!-- 															<h5 class="blue">Step 4</h5> -->

                     <button  class="btn btn-app btn-primary"  title="Define Widget" style="height: 100px;width: 100px;margin-top: 6%;" (click)="goToWidget()">
                         Define <br>Widget

                     </button>

                     <button type="button" title="Define Dashboard"class="style_prevu_kit btn btn-app btn-primary btn-xs"  (click)="goToDash()" style="height: 100px;width: 100px;margin-top: 6%;">
                      Define <br>Dashboard
                     </button>

                 </div>
             </div>
       <br>
       <br>
