.horizontal{
  width: 25%;
  padding: 5px;
}
.horizontal1{
  width: 50%;
  padding: 10px;
}
.middle{
  width: 33%;
  padding: 10px;
}
.middle1{
  width: 75%;
  padding: 10px;
}

.full{
  width: 100%;
  padding: 10px;
}

input[type=text],[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.required-field{
  color: red;
}
.center {
  text-align: center;

}
.center{
  color: blue;
}
@media (max-width: 600px){
.horizontal,.middle,.horizontal1,.middle1 {
width: 100%;
}}

