<ol class="breadcrumb breadcrumb-arrow font-trirong">
  <li><a href="javascript://" [routerLink]="['/']">Home</a></li>
  <li><a href="javascript://">university1</a></li>
  <li><a href="javascript://">all</a></li>
</ol>

<div class="dg-wrapper">
  <div class="clr-row">
    <div class="clr-col-8">
      <h3>User list </h3>
    </div>
    <div class="clr-col-4" style="text-align: right;">

      <button class="btn btn-outline"  (click)="onExport()">
        <clr-icon shape="export"></clr-icon> xlsx
      </button>
      <button id="add" class="btn btn-primary" (click)="goToAdd()" >
        <clr-icon shape="plus"></clr-icon>ADD
      </button>
    </div>
  </div>
  <clr-datagrid [clrDgLoading]="loading">

    <clr-dg-placeholder>user not found!</clr-dg-placeholder>
    <clr-dg-column [clrDgField]="'id'"> <ng-container *clrDgHideableColumn="{hidden: false}">
    id
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'name'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      name
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'email'">
      <ng-container *clrDgHideableColumn="{hidden: false}">
        email
      </ng-container>
      </clr-dg-column >
    <clr-dg-column [clrDgField]="'subject'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      subject
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'phone'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      phone
    </ng-container></clr-dg-column>


    <clr-dg-row *clrDgItems="let user of university" [clrDgItem]="user" >
      <clr-dg-cell>{{user.id}}</clr-dg-cell>
      <clr-dg-cell>{{user.name}}</clr-dg-cell>
      <clr-dg-cell>{{user.email}}</clr-dg-cell>
      <clr-dg-cell>{{user.subject}}</clr-dg-cell>
      <clr-dg-cell>{{user.phone}}</clr-dg-cell>

      <clr-dg-action-overflow>

        <button class="action-item" (click)="goToEdit(user.id)">Edit</button>
        <button class="action-item" (click)="onDelete(user)">Delete</button>
      </clr-dg-action-overflow>

      <clr-dg-row-detail *clrIfExpanded>
        <table class="table">
          <tr>
            <td class="td-title">Id:{{user.id}}</td>
          </tr>
          <tr>
            <td class="td-title">Name:{{user.name}}</td>
          </tr>
          <tr>
            <td class="td-title">Email:{{user.email}}</td>
          </tr>
          <tr>
            <td class="td-title">Subject:{{user.subject}}</td>
          </tr>
          <tr>
            <td class="td-title">Phone Number:{{user.phone}}</td>
          </tr>

          <table id="lines" class="table" >
            <thead>
              <tr>
                <th class="left">booktype</th>
                <th class="left" >bookname</th>
                <th class="left" >price</th>
                <th class="left" >writer</th>
                <th class="left" >code</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of user.book">
                <td class="left"> {{person.booktype}}</td>
                <td class="left">{{person.bookname}}</td>
                <td class="left">{{person.price}} </td>
                <td class="left">{{person.writer}}</td>
                <td class="left"> {{person.code}}</td>
              </tr>
            </tbody>

          </table>
        </table>

      </clr-dg-row-detail>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} users
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>



<clr-modal [(clrModalOpen)]="modaldelete" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true">

  <div class="modal-body" *ngIf="rowSelected.id">
    <h1 class="delete">Are You Sure Want to delete?</h1>
    <h2 class="heading">{{rowSelected.id}}</h2>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="modaldelete = false">Cancel</button>
    <button type="button" (click)="delete(rowSelected.id)" class="btn btn-primary" >Delete</button>
    </div>
  </div>
</clr-modal>


