.td-title {
  text-align: center;
color: white;
  font-weight: bold;
  background-color: rgba(63, 122, 231, 0.863);
  //color: rgb(24, 13, 13);
}
th{
  background-color:rgb(170, 169, 169);
  font-weight: bold;
}
.delete,.heading{
  text-align: center;
  color: red;
}
