.td-title {
  text-align: right;
  width: 150px;
  font-weight: bold;
  background-color: rgba(63, 122, 231, 0.863);
  color: white;
}
.td-content{
  text-align: left;
}
.delete,.heading{
  text-align: center;
  color: red;
}
