<header class="header-6">
  <div class="branding">
    <a href="javascript://" class="nav-link">
      <a href="#" class="logo">
        <img class="img" src="assets/images/icon/sitelogo.png" alt="" height="50" width="50">
      </a>
      <div style="width:40px;margin-right:10px;">

      </div>
      <span class="title">CloudnSure</span>
    </a>
  </div>
</header>
<div class="container">

  <div class="display_msg">


    <p style="font-size:20px; font-weight: bold;"> Hi {{ email }}</p>
    <br>
    <p style="font-size:18px;">Complete your signup through the email we
      sent
      to your email address.
      <br>Didn't receive an email? <a href="" (onclick)="goAddEmail()" style="color: blueviolet;">Resend
        Email</a>.
    </p>
  </div>


</div>
