//@import "../../../../assets/scss/var";
.s-info-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button {
    outline: none;
  }
}

.entry-pg {
  width: 750px;
}

.button1::after {
  content: none;
}
.button1:hover::after {
  content: "ADD ROWS";
}

.section {
  background-color: #dddddd;
  height: 40px;
}

.section p {
  //color: white;
  padding: 10px;
  font-size: 18px;
}

.clr-input {
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.75rem 0.75rem;
  margin-top: 3px;
  width: 100%;
  margin-bottom: 10px;
}

.clr-file {
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  //padding: 0.6rem 0.75rem;
  margin-top: 3px;
  width: 100%;
  margin-bottom: 10px;
}

.center {
  text-align: center;
}
